{% extends "layout.html" %}
{% block content %} <-- wefniunefiuf -->
	<p>I made this website for robotics. Every year we have to participate in compititions and manually create something called a scouting schedule for each of those competitions.</p>
	<img src="https://contattafiles.s3.us-west-1.amazonaws.com/irs1318/1NApkWnRflbM1jA/Capture.PNG">
	<p> I decided to take advantage of the class time given to us to create something to automate this process and make it far easier.</p>
{% endblock content %}